* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Clase para el div despues de la etiqueta Body*/
.cuerpo {
  background-color: rgb(252, 227, 144);
}

 /*Estilo para  navbar*/
.navpos{
  flex-wrap:nowrap;
  align-items:center;
  justify-content:center;
}

.logoimg {
  width: 120px;
  height: 110px;
  margin: 0px 20px;
}

/*Clase para el primer div contenedor del titulo*/
.intro {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  width: 100%;
  padding: 20px;;
}

/*Color de fondo para nav y footer*/
.bground {
  background-color:rgb(255, 255, 255);
  border-radius: 0px;
}

/*Margenes de videos*/
.videocont {
  margin: 10px;
}

/*Seteo de divs de pagina de inicio*/
.principal {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
}

/*Seteo de tamaño de imagen carrusel*/
.imgvista {
  width: 400px;
  height: 400px;
}

/*Div contenedor principal de FAQ*/
.contfaq {
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
}

/*Margenes para ROW sin modificar la clase de Bootstrap*/
.rmargin {
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px;
}

/*Clases para el contenido de footer*/
.footer{
  margin: 50px 0px ;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.footer ul li {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
}

.footer a {
  text-decoration: none;
  color: black;
}